@import '../Mixin.scss';

.package {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 480px;
  background: #F2F2F2;
  border: 4px solid #1698D9;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 0 40px;
  &__info {
    display: flex;
    flex-direction: column;
    margin: 21px auto 0 51px;
  }
  &__title {
    @include fontProps('Trebuchet MS', normal, 400, 16px,  19px, #666666);
    z-index: 2;
    margin: 0 auto 5px 0;
  }
  &__name {
    @include fontProps('Trebuchet MS', normal, 700, 48px,  56px, #000000);
    z-index: 2;
    margin: 0 auto 0 0;
  }
  &__taste {
    @include fontProps('Trebuchet MS', normal, 700, 24px,  28px, #000000);
    z-index: 2;
    margin: 0 auto 15px 0;
  }
  &__size {
    @include fontProps('Trebuchet MS', normal, 700, 14px,  16px, #666666);
    z-index: 2;
    margin: 0;
  }
  &__gift {
    @include fontProps('Trebuchet MS', normal, 700, 14px,  16px, #666666);
    z-index: 2;
    margin: 0;
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__weight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    height: 80px;
    background-color: #1698D9;
    border-radius: 50%;
    @include fontProps('Trebuchet MS', normal, 400, 42px,  22px, #FFFFFF);
    z-index: 2;
    margin: 0;
    & span {
      @include fontProps('Trebuchet MS', normal, 400, 21px,  22px, #FFFFFF);
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .package {
    margin-bottom:50px;
  }
}

