.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(../../images/App/App__bg.svg);
  font-family: 'Trebuchet MS', 'Exo2.0', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeLegibility;
  user-select: none;
}

body {
  margin: 0;
}


