@import '../Mixin.scss';

.buy {
  @include fontProps('Trebuchet MS', normal, 400, 13px,  15px, #1698D9);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline dotted #1698D9;
  & span {
    text-decoration: none;
  }
}